@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&family=Shippori+Antique+B1&display=swap');

*{
    margin: 0;
    
    box-sizing: border-box;
}
  
.container {
    position: fixed;
    left: 30%;
    width:70%;
    background: linear-gradient(-45deg, #45dddd, #c92ec1, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
    font-family: 'Saira Condensed', sans-serif;;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.image {

    float:left;
    height: 100px;
    width: 100px;
    padding: 10px;
}

nav {
    padding-top: 100px;
    position: fixed;
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background:#422C73;
    font-family: 'Shippori Antique B1', sans-serif;
}

nav a {
    font-size: 40px;
    width: 100%;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
  
a:hover{
    color:#23a6d5;
    font-size: 150%;
}
a:active{
    color:#23a6d5;
    font-size: 150%;
}
  
section {
    position: absolute;
    display: flex;
    width: 0;
    opacity: 0;
    height: 100vh;
    transition: all ease-in .5s;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
} 
  
section h1 {
      font-size: calc(1.725rem + 5.7vw);
      text-transform: uppercase;
      opacity: 0;
      color: black;
      font-family: 'Shippori Antique B1', sans-serif;
      text-decoration: underline #422C73; 
}

section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
  
section:target h1, section:target h2, section:target h3, 
section:target h4, section:target p, section:target img,
section:target ul, section:target li
{
      opacity: 0;
      animation: 2s fadeIn forwards .5s;
}
    
  @keyframes fadeIn {
      100% { opacity:1 }
  }

  .socials .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #495057;
    color: #fff; 
    font-size: 20px;
    padding: 20px;
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
    
  }
  
  .icon:hover {
    background-color: #422C73;
  }

  .column {
    float: left;
    width: 33%;
    padding: 10px;
  }

  .content{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .column1 {
      width: 50%;
      float: left;
      padding: 20px;
      
    }

  
  .row {
      margin-right: auto;
      width:100%;
    }
  
 
  .row:after {
    display: table;
    clear: both;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f1f1f1;
  }

  .card{
    margin-bottom: 10px;
    width: 160px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
  }
  
  .card:hover{
    border-color: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  }
 